[1;33m __  __ ___ ____ _   _ _______   ____  __  ___  _   _ ____  _____
|  \/  |_ _/ ___| | | |_   _\ \ / /  \/  |/ _ \| | | / ___|| ____|
| |\/| || | |  _| |_| | | |  \ V /| |\/| | | | | | | \___ \|  _|
| |  | || | |_| |  _  | | |   | | | |  | | |_| | |_| |___) | |___
|_|  |_|___\____|_| |_| |_|   |_| |_|  |_|\___/ \___/|____/|_____|
[1;0m 
[1;31m{{ ansible_fqdn }}
{{ ansible_distribution }} {{ ansible_distribution_version }}
{{ ansible_distribution_release }}

Managed by Ansible
Version {{ ansible_version.full }}
[1;0m 
